In [38]:
import pandas as pd
import numpy as np

### Table(표) : DataFrame 다루기

table 구성요소  
1) column  
2) index  
3) value

DataFrame 과 Series  
1) Series : 열 1개의 데이터 = Vector  
2) DataFrame : 여러 열(Series)의 데이터 = Matrix

In [39]:
series = pd.Series([1,2,3,4,5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
dates = pd.date_range('20190722',periods=6)
dates

DatetimeIndex(['2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
               '2019-07-26', '2019-07-27'],
              dtype='datetime64[ns]', freq='D')

In [41]:
dates = pd.date_range('20190722',periods=6,freq='M')
dates

DatetimeIndex(['2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31',
               '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [42]:
dates = pd.date_range('20190722',periods=6,freq='Y')
dates

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [91]:
# DataFrame = Matrix
import numpy as np
rand_arr = np.random.randn(6,5)    # 6행 5열
rand_df = pd.DataFrame(rand_arr)
rand_df

          0         1         2         3         4
0  1.208330  1.011886 -1.161955 -0.393703  0.505423
1 -1.404040  0.588904  0.268049 -1.421652 -0.488485
2  0.897553  1.412535 -0.191918  0.346974  1.576244
3  1.484367  1.498754 -0.926068 -0.382077  0.015172
4 -0.055114 -0.258506  0.257058 -0.353065 -0.971080
5  0.525537  1.240392  0.704286 -1.033593 -0.904283

In [92]:
rand_df = pd.DataFrame(rand_arr, columns=['A','B','C','D','E'])   # 열번호 생성
rand_df

          A         B         C         D         E
0  1.208330  1.011886 -1.161955 -0.393703  0.505423
1 -1.404040  0.588904  0.268049 -1.421652 -0.488485
2  0.897553  1.412535 -0.191918  0.346974  1.576244
3  1.484367  1.498754 -0.926068 -0.382077  0.015172
4 -0.055114 -0.258506  0.257058 -0.353065 -0.971080
5  0.525537  1.240392  0.704286 -1.033593 -0.904283

In [93]:
rand_df = pd.DataFrame(rand_arr, index = dates)   # 행번호 생성
rand_df

                   0         1         2         3         4
2019-12-31  1.208330  1.011886 -1.161955 -0.393703  0.505423
2020-12-31 -1.404040  0.588904  0.268049 -1.421652 -0.488485
2021-12-31  0.897553  1.412535 -0.191918  0.346974  1.576244
2022-12-31  1.484367  1.498754 -0.926068 -0.382077  0.015172
2023-12-31 -0.055114 -0.258506  0.257058 -0.353065 -0.971080
2024-12-31  0.525537  1.240392  0.704286 -1.033593 -0.904283

In [71]:
data_dict = {
    'title' : ['spiderman','aladin','toystory','lionking'],    # dictionary로 표 만들기
    'date' : ['201907', '201906', '201906','201908'],
    'genre' : 'adventure'   # 동일한거면 한번에 처리 가능
}

movie_df = pd.DataFrame(data_dict)
movie_df

       title     date      genre
0  spiderman   201907  adventure
1     aladin   201906  adventure
2   toystory  2019066  adventure

###  View df
특정 값만 보고싶을 때

In [47]:
rand_df.head(2)   # 상위 데이터 n개만 view; default = 5

                   0         1         2         3         4
2019-12-31  1.247957 -0.175489  0.122880 -0.187882 -1.067238
2020-12-31 -1.184195  1.941764  1.285361 -0.944400  0.470984

In [48]:
rand_df.tail(3) # 하위 n개의 data

                   0         1         2         3         4
2022-12-31 -0.291709 -2.263200 -1.425231  1.502700  1.301604
2023-12-31  0.212590  2.912726 -0.959716 -0.126368  0.127932
2024-12-31 -0.553040  0.619846  0.074003 -0.342298  1.015677

In [49]:
rand_df.index

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [50]:
rand_df.columns

RangeIndex(start=0, stop=5, step=1)

In [51]:
rand_df.values

array([[ 1.24795716e+00, -1.75488921e-01,  1.22879952e-01,
        -1.87881810e-01, -1.06723802e+00],
       [-1.18419498e+00,  1.94176439e+00,  1.28536142e+00,
        -9.44399774e-01,  4.70983970e-01],
       [ 2.48128562e+00,  1.98590817e-03,  2.80592647e+00,
         6.76298285e-01, -9.87510112e-01],
       [-2.91709079e-01, -2.26319989e+00, -1.42523098e+00,
         1.50269998e+00,  1.30160426e+00],
       [ 2.12590482e-01,  2.91272637e+00, -9.59716197e-01,
        -1.26368247e-01,  1.27932307e-01],
       [-5.53039676e-01,  6.19846089e-01,  7.40034638e-02,
        -3.42298211e-01,  1.01567728e+00]])

In [52]:
# 통계 데이터 view

rand_df.describe() #number type에 대한 통계수치

              0         1         2         3         4
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.318815  0.506272  0.317204  0.096342  0.143575
std    1.337369  1.802977  1.542374  0.862569  0.995435
min   -1.184195 -2.263200 -1.425231 -0.944400 -1.067238
25%   -0.487707 -0.131120 -0.701286 -0.303694 -0.708650
50%   -0.039559  0.310916  0.098442 -0.157125  0.299458
75%    0.989115  1.611285  0.994741  0.475632  0.879504
max    2.481286  2.912726  2.805926  1.502700  1.301604

In [53]:
rand_df.describe(include='all')  # number + object type에 대한 통계 수치

              0         1         2         3         4
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.318815  0.506272  0.317204  0.096342  0.143575
std    1.337369  1.802977  1.542374  0.862569  0.995435
min   -1.184195 -2.263200 -1.425231 -0.944400 -1.067238
25%   -0.487707 -0.131120 -0.701286 -0.303694 -0.708650
50%   -0.039559  0.310916  0.098442 -0.157125  0.299458
75%    0.989115  1.611285  0.994741  0.475632  0.879504
max    2.481286  2.912726  2.805926  1.502700  1.301604

rand_df.describe(include='o') #object

In [54]:
rand_df.info()   # column별 type, 결측치(누락된 data) 여부 등

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2019-12-31 to 2024-12-31
Freq: A-DEC
Data columns (total 5 columns):
0    6 non-null float64
1    6 non-null float64
2    6 non-null float64
3    6 non-null float64
4    6 non-null float64
dtypes: float64(5)
memory usage: 288.0 bytes

###  select df
원하는 부분만 지정

In [85]:
# 'C''B''A' column만 지정

rand_df[['C','B','A']]

          C         B         A
0 -0.685153 -0.285581  2.297640
1 -0.165885 -2.132239 -0.203001
2  0.615159  0.225542  1.195571
3  1.452040 -1.030323 -1.746197
4  0.617447  0.459854  1.038118
5 -0.795040  0.432319 -1.136700

In [87]:
# 원하는 index name으로 접근
rand_df.loc['2019-12-31']

0    2.297640
1   -0.285581
2   -0.685153
3   -0.949812
4    0.000707
Name: 2019-12-31 00:00:00, dtype: float64

In [95]:
#원하는 index 순서로 접근
rand_df.iloc[0]

0    1.208330
1    1.011886
2   -1.161955
3   -0.393703
4    0.505423
Name: 2019-12-31 00:00:00, dtype: float64

In [97]:
# 원하는 index 순서 name 둘다

rand_df.ix[1]

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

0   -1.404040
1    0.588904
2    0.268049
3   -1.421652
4   -0.488485
Name: 2020-12-31 00:00:00, dtype: float64

###  슬라이싱

In [99]:
# DataFrame = Matrix
import numpy as np
rand_arr = np.random.randn(6,5)    # 6행 5열
rand_df = pd.DataFrame(rand_arr, columns=['A','B','C','D','E'],index = dates)
rand_df

                   A         B         C         D         E
2019-12-31 -0.870936  2.123292  0.322832  2.092232 -0.197661
2020-12-31 -0.000612 -0.250169  0.794553  0.099730 -0.335944
2021-12-31 -0.228272 -2.718769 -0.599729 -1.187615 -0.267063
2022-12-31 -0.179670 -0.215688  0.425677 -1.205162 -0.757144
2023-12-31  1.460256  0.119037  0.858328 -1.624851  1.749011
2024-12-31 -1.300788  0.823355  0.268968 -0.621051  0.452138

In [104]:
col = list(rand_df)[1:4]  # BCD
col

['B', 'C', 'D']

In [105]:
rand_df[col]

                   B         C         D
2019-12-31  2.123292  0.322832  2.092232
2020-12-31 -0.250169  0.794553  0.099730
2021-12-31 -2.718769 -0.599729 -1.187615
2022-12-31 -0.215688  0.425677 -1.205162
2023-12-31  0.119037  0.858328 -1.624851
2024-12-31  0.823355  0.268968 -0.621051

In [108]:
col1 = rand_df.columns[:4]
col1

Index(['A', 'B', 'C', 'D'], dtype='object')

In [109]:
rand_df[col1]

                   A         B         C         D
2019-12-31 -0.870936  2.123292  0.322832  2.092232
2020-12-31 -0.000612 -0.250169  0.794553  0.099730
2021-12-31 -0.228272 -2.718769 -0.599729 -1.187615
2022-12-31 -0.179670 -0.215688  0.425677 -1.205162
2023-12-31  1.460256  0.119037  0.858328 -1.624851
2024-12-31 -1.300788  0.823355  0.268968 -0.621051

In [111]:
rand_df.loc['2019-12-31':'2021-12-31']    # 이름으로 접근할때는 해당하는 것 포함

                   A         B         C         D         E
2019-12-31 -0.870936  2.123292  0.322832  2.092232 -0.197661
2020-12-31 -0.000612 -0.250169  0.794553  0.099730 -0.335944
2021-12-31 -0.228272 -2.718769 -0.599729 -1.187615 -0.267063

In [114]:
rand_df.ix['2019-12-31':'2021-12-31']   #loc

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                   A         B         C         D         E
2019-12-31 -0.870936  2.123292  0.322832  2.092232 -0.197661
2020-12-31 -0.000612 -0.250169  0.794553  0.099730 -0.335944
2021-12-31 -0.228272 -2.718769 -0.599729 -1.187615 -0.267063

In [112]:
rand_df.iloc[0:3]   #순서로 접근할때는 칼질의 의미로 해당꺼 앞까지

                   A         B         C         D         E
2019-12-31 -0.870936  2.123292  0.322832  2.092232 -0.197661
2020-12-31 -0.000612 -0.250169  0.794553  0.099730 -0.335944
2021-12-31 -0.228272 -2.718769 -0.599729 -1.187615 -0.267063

In [115]:
rand_df.ix[0:3]   #iloc

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                   A         B         C         D         E
2019-12-31 -0.870936  2.123292  0.322832  2.092232 -0.197661
2020-12-31 -0.000612 -0.250169  0.794553  0.099730 -0.335944
2021-12-31 -0.228272 -2.718769 -0.599729 -1.187615 -0.267063

In [116]:
data_dict = {
    'title' : ['spiderman','aladin','toystory','lionking'],    # dictionary로 표 만들기
    'date' : ['201907', '201906', '201906','201908'],
    'genre' : 'adventure'   # 동일한거면 한번에 처리 가능
}

movie_df = pd.DataFrame(data_dict)
movie_df

       title    date      genre
0  spiderman  201907  adventure
1     aladin  201906  adventure
2   toystory  201906  adventure
3   lionking  201908  adventure

movie df의 index를 주목. index를 따로 지정을 안해서 숫자임;   
1) loc 사용가능?? (iloc은 사용가능함)  
2) ix 사용해 slicing을 한다면?

In [119]:
movie_df.loc[0]   #index를 따로 지정 안하면 index 숫자 == index name

title    spiderman
date        201907
genre    adventure
Name: 0, dtype: object

In [120]:
movie_df.loc['0':'2']   #name

       title    date      genre
0  spiderman  201907  adventure
1     aladin  201906  adventure
2   toystory  201906  adventure

In [121]:
movie_df.iloc[:2]   #순서

       title    date      genre
0  spiderman  201907  adventure
1     aladin  201906  adventure

In [124]:
movie_df.ix[:2]    #name = position이 같을때 ix를 쓰면 name 으로 인식한다

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       title    date      genre
0  spiderman  201907  adventure
1     aladin  201906  adventure
2   toystory  201906  adventure

In [126]:
# 행과 열을 같이 지정
movie_df.loc[:2,['title','date']]

       title    date
0  spiderman  201907
1     aladin  201906
2   toystory  201906

In [129]:
rand_df.A#원하는 열

2019-12-31   -0.870936
2020-12-31   -0.000612
2021-12-31   -0.228272
2022-12-31   -0.179670
2023-12-31    1.460256
2024-12-31   -1.300788
Freq: A-DEC, Name: A, dtype: float64

In [132]:
rand_df[rand_df.A > 0]  #A 값이 0보다 큰것만

                   A         B         C         D         E
2023-12-31  1.460256  0.119037  0.858328 -1.624851  1.749011

In [137]:
rand_df[rand_df.B  > 0]['A']  # B값이 0보다 큰것중에서 A만

2019-12-31   -0.870936
2023-12-31    1.460256
2024-12-31   -1.300788
Name: A, dtype: float64

In [138]:
#전치
movie_df.T

               0          1          2          3
title  spiderman     aladin   toystory   lionking
date      201907     201906     201906     201908
genre  adventure  adventure  adventure  adventure

In [139]:
# 열 순서 변경
col = list(rand_df)
col

['A', 'B', 'C', 'D', 'E']

In [145]:
# 'A' 'E' 'B' 'C' 'D' 
col.insert(1, col.pop())
col

['A', 'C', 'D', 'E', 'E', 'E', 'E', 'B']

In [146]:
rand_df = rand_df[col]
rand_df

,A,C,D,E,E,E,E,B
2019-12-31,-0.870936,0.322832,2.092232,-0.197661,-0.197661,-0.197661,-0.197661,2.123292
2020-12-31,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2022-12-31,-0.179670,0.425677,-1.205162,-0.757144,-0.757144,-0.757144,-0.757144,-0.215688
2023-12-31,1.460256,0.858328,-1.624851,1.749011,1.749011,1.749011,1.749011,0.119037
2024-12-31,-1.300788,0.268968,-0.621051,0.452138,0.452138,0.452138,0.452138,0.823355

In [149]:
rand_df.iloc[0] = 5.0    # 값 변경
rand_df

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,A,C,D,E,E,E,E,B
2019-12-31,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2022-12-31,-0.179670,0.425677,-1.205162,-0.757144,-0.757144,-0.757144,-0.757144,-0.215688
2023-12-31,1.460256,0.858328,-1.624851,1.749011,1.749011,1.749011,1.749011,0.119037
2024-12-31,-1.300788,0.268968,-0.621051,0.452138,0.452138,0.452138,0.452138,0.823355

In [150]:
np.nan # not a number = 결측치

nan

In [151]:
rand_df.iloc[3] = np.nan
rand_df

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,A,C,D,E,E,E,E,B
2019-12-31,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31,1.460256,0.858328,-1.624851,1.749011,1.749011,1.749011,1.749011,0.119037
2024-12-31,-1.300788,0.268968,-0.621051,0.452138,0.452138,0.452138,0.452138,0.823355

In [158]:
#결측치 지우기
rand_df = rand_df.dropna()
rand_df

,A,C,D,E,E,E,E,B
2019-12-31 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31 00:00:00,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31 00:00:00,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2024-12-31 00:00:00,-1.300788,0.268968,-0.621051,0.452138,0.452138,0.452138,0.452138,0.823355

In [159]:
rand_df.iloc[3]=np.nan
rand_df

C:\Users\USER\Anaconda3\envs\ssml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,A,C,D,E,E,E,E,B
2019-12-31 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31 00:00:00,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31 00:00:00,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2024-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
rand_df = rand_df.fillna(10.0)  #nan 값 바꾸기
rand_df

,A,C,D,E,E,E,E,B
2019-12-31 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31 00:00:00,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31 00:00:00,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2024-12-31 00:00:00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [162]:
rand_df.isna()  #결측치 여부 확인

                         A      C      D      E      E      E      E      B
2019-12-31 00:00:00  False  False  False  False  False  False  False  False
2020-12-31 00:00:00  False  False  False  False  False  False  False  False
2021-12-31 00:00:00  False  False  False  False  False  False  False  False
2024-12-31 00:00:00  False  False  False  False  False  False  False  False

###  Operation 연산

In [167]:
rand_df.mean(0)  #열 기준 평균  (axis=0)

A    3.692779
C    3.798706
D    3.478029
E    3.599248
E    3.599248
E    3.599248
E    3.599248
B    3.007765
dtype: float64

In [165]:
rand_df.mean().mean()   #평균의 평균

3.5467839991294525

In [166]:
#행 기준 평균
rand_df.mean(1)   #axis = 1

2019-12-31     5.000000
2020-12-31    -0.087534
2021-12-31    -0.725330
2024-12-31    10.000000
dtype: float64

In [171]:
# apply를 이용해 함수 도입 가능
rand_df.apply(np.cumsum)  #cumsum = 누적 합

,A,C,D,E,E,E,E,B
2019-12-31,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31,4.999388,5.794553,5.099730,4.664056,4.664056,4.664056,4.664056,4.749831
2021-12-31,4.771116,5.194824,3.912114,4.396993,4.396993,4.396993,4.396993,2.031061
2024-12-31,14.771116,15.194824,13.912114,14.396993,14.396993,14.396993,14.396993,12.031061

In [172]:
#series의 value별 개수 계산
rand_df.columns.value_counts()

E    4
B    1
D    1
C    1
A    1
dtype: int64

In [173]:
rand_df['A'].value_counts()

-0.000612     1
 10.000000    1
-0.228272     1
 5.000000     1
Name: A, dtype: int64

In [174]:
movie_df['genre'].value_counts()

adventure    4
Name: genre, dtype: int64

In [176]:
# 정렬 
rand_df.sort_values('A')  # 오름차순

,A,C,D,E,E,E,E,B
2021-12-31 00:00:00,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769
2020-12-31 00:00:00,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2019-12-31 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2024-12-31 00:00:00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [180]:
rand_df.sort_values('A',ascending = False)  #내림차순

,A,C,D,E,E,E,E,B
2024-12-31 00:00:00,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2019-12-31 00:00:00,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
2020-12-31 00:00:00,-0.000612,0.794553,0.099730,-0.335944,-0.335944,-0.335944,-0.335944,-0.250169
2021-12-31 00:00:00,-0.228272,-0.599729,-1.187615,-0.267063,-0.267063,-0.267063,-0.267063,-2.718769

### 외부 파일 읽어들이기

In [189]:
sample_exel = pd.read_excel('sample.xlsx',encoding='UTF-8')
sample_exel.head()

       dates  price
0 2019-01-01     11
1 2019-01-02     12
2 2019-01-03     12
3 2019-01-04     12
4 2019-01-05     12

In [201]:
sample_exel.to_excel('copy_exel.xlsx',encoding='UTF-8')

In [204]:
sample_exel.to_csv('copy_exel.csv',encoding='UTF-8', index=False)

In [206]:
sample_csv=pd.read_csv('copy_exel.csv')
sample_csv.head()

        dates  price
0  2019-01-01     11
1  2019-01-02     12
2  2019-01-03     12
3  2019-01-04     12
4  2019-01-05     12